/* popup.css */

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 50px;
  width: 280px;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  font-family: Verdana, sans-serif;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: #ffcccb;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff99cc;
}

div {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

#button-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  margin: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="submit"]:focus {
  outline: none;
}

/* #task-container button {
  height: 50px;
  width: 50px;
} */
